@import "compass_twitter_bootstrap";

.thumbnail{
	cursor: hand;
	cursor: pointer;
	img {
		
		height: 250px;
	}
}

.huggable{
	color: green;
	font-weight: bold;
}

.not-huggable{
	color: red;
	font-weight: bold;
}