

<form class="form-horizontal">
	<fieldset>
		<legend>Controls Bootstrap supports</legend>
		<div class="control-group">
			<label class="control-label" for="input01">Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input01" ng-model="user.name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input02">Image location</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input02" ng-model="user.image">
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="huggable">Huggable?</label>
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" id="huggable" value="true" ng-model="user.huggable">
				</label>
			</div>
		</div>
	

		<div class="form-actions">
			<button class="btn btn-primary" ng-click="addUser()">Add User</button>
		</div>
	</fieldset>
</form>
