 <!--
1. container
2. back
-->

<button class="btn btn-primary" ng-click="toggleShowRules()">Show Rules</button>
<br/><br/>

<ul class="thumbnails">
	<thumbnail user-model="user" ng-repeat="user in users"></thumbnail>
</ul>


<!-- BEGIN - Twitter Bootstrap Modal -->
<div class="modal" ng-show="showRules">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Hugging Rules</h3>
  </div>
  <div class="modal-body">

    <ol>
    	<li>You must hug at least 1 person a day</li>
    	<li>You must hug Tzahi even if he doesn't want to</li>
    	<li>You must hug Fuad even if he doesn't want to</li>
    	<li>You must avoid Berlad hug of death</li>
    	<li>Angie is taken</li>
    	<li>Bar is one of ours</li>
    	<li>Natalie is also one of ours</li>
    </ol>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Close</a>
  </div>
</div>
<!-- END - Twitter Bootstrap Modal -->





<!-- 
<modal-window header-title="Hugging Rules" modal-show="showRules">
    <ol>
    	<li>You must hug at least 1 person a day</li>
    	<li>You must hug Tzahi even if he doesn't want to</li>
    	<li>You must hug Fuad even if he doesn't want to</li>
    	<li>You must avoid Berlad hug of death</li>
    	<li>Angie is taken</li>
    	<li>Bar is one of ours</li>
    	<li>Natalie is also one of ours</li>
    </ol>
</modal-window>

 -->


<!-- 

<input type="text" ng-model="query.name" placeholder="Search">
	
<ul class="thumbnails">
	<thumbnail user-model="user" ng-repeat="user in users | filter:query"></thumbnail>
</ul>

