<!-- 
1. directive - angry / good mood
2. ng-repeat
3. component - thumbnail
4. go to step-3
-->

  <ul class="thumbnails">

	  <li class="span4">
	    <div class="thumbnail"> 
	      <img src="images/bar.png">
	      <h3>Hug Bar</h3>
	      <h4>Hug status: <span class="huggable">Sure</span></h4>
	    </div>
	  </li>

	<li class="span4">
	    <div class="thumbnail">
	      <img src="images/tzahi.jpg">
	      <h3>Hug Tzahi</h3>
	      <h4>Hug status: <span class="not-huggable">Not right now</span></h4>
	    </div>
	 </li>

	  <li class="span4">
	    <div class="thumbnail">
	      <img src="images/natalie.jpeg">
	      <h3>Hug Natalie</h3>
	      <h4>Hug status: <span class="huggable">Sure</span></h4>
	    </div>
	  </li>

	 <li class="span4">
	    <div class="thumbnail">
	      <img src="images/fuad.jpg">
	      <h3>Hug Fuad</h3>
	      <h4>Hug status: <span class="huggable">Sure</span></h4>
	    </div>
	  </li>

	  <li class="span4">
	    <div class="thumbnail">
	      <img src="images/angie.jpeg">
	      <h3>Hug Angie</h3>
	      <h4>Hug status: <span class="not-huggable">Not right now</span></h4>
	    </div>
	  </li>

	  <li class="span4">
	    <div class="thumbnail">
	      <img src="images/berlad.jpg">
	      <h3>Hug Berlad</h3>
	      <h4>Hug status: <span class="huggable">Sure</span></h4>
	    </div>
	  </li>
	  
	</ul>






<!-- 
<ul class="thumbnails">
	<thumbnail user-model="user" ng-repeat="user in users"></thumbnail>
</ul>
 -->
