
  <ul class="thumbnails">

	  <li class="span4" angry>
	    <div class="thumbnail">
	      <img src="images/bar.png">
	      <h3>Hug Bar</h3>
	      <p>Huggable..</p>
	    </div>
	  </li>

	<li class="span4" good-mood>
	    <div class="thumbnail">
	      <img src="images/tzahi.jpg" alt="">
	      <h3>Hug Tzahi</h3>
	      <p>Huggable..</p>
	    </div>
	 </li>

	  <li class="span4">
	    <div class="thumbnail">
	      <img src="images/natalie.jpeg" alt="">
	      <h3>Hug Natalie</h3>
	      <p>Huggable..</p>
	    </div>
	  </li>

	 <li class="span4">
	    <div class="thumbnail">
	      <img src="images/fuad.jpg" alt="">
	      <h3>Hug Fuad</h3>
	      <p>Huggable..</p>
	    </div>
	  </li>

	  <li class="span4">
	    <div class="thumbnail">
	      <img src="images/angie.jpeg" alt="">
	      <h3>Hug Angie</h3>
	      <p>Huggable..</p>
	    </div>
	  </li>

	  <li class="span4">
	    <div class="thumbnail">
	      <img src="images/berlad.jpg" alt="">
	      <h3>Hug Berlad</h3>
	      <p>Huggable..</p>
	    </div>
	  </li>
	  
	</ul>